<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SuperPlayerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperReproductor"
        android:usesCleartextTraffic="true">

        <!--
            usesCleartextTraffic="true": pensado para poder reproducir streams
            propios/autohospedados en http:// dentro de tu red local. Si vas a
            publicar la app o solo usas https, puedes ponerlo en "false" o,
            mejor, usar un network_security_config.xml con dominios concretos.
        -->

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StreamListActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".player.PlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.SuperReproductor.Player" />

        <activity
            android:name=".CrashActivity"
            android:exported="false" />

    </application>

</manifest>
